<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Home</ion-nav-title>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1" style="padding: 0px; margin: 1px 0px;">
            <div class="col text-center calm-bg" data-comp-id="column.1"
                ng-click="app.action('home', 'action1', this)"
                style="padding: 70px 0px; margin: 2px;">
                <div class="row" data-comp-id="row.2"
                    style="margin: 0px; padding: 0px; border-width: 0px; border-style: initial; border-color: initial; border-radius: 0px; height:10px">
                    <div class="col col-75" data-comp-id="column.2"
                        style="margin: 0px; padding: 0px; border-width: 0px; border-style: initial; border-color: initial; border-radius: 0px;">
                        <div data-comp-id="text.1">Total</div>
                        <div data-comp-id="text.2">Idle</div>
                        <div data-comp-id="text.3">Down</div>
                        <div data-comp-id="text.4">Out of Cycle</div>
                        <div data-comp-id="text.5">Uknown</div>
                        <div data-comp-id="text.6">Trail Run</div>
                        <div data-comp-id="text.7">Setup</div>
                        <div data-comp-id="text.8">Processing</div>
                        <div data-comp-id="text.9">Maintenance</div>
                        <div data-comp-id="text.10">Break</div>
                        <div data-comp-id="text.11">Change Over</div>
                    </div>
                    <div class="col" data-comp-id="column.3"
                        style="margin: 0px; padding: 0px; border-width: 0px; border-style: initial; border-color: initial; border-radius: 0px;">
                        <div data-comp-id="text.12" ng-bind="data.total">0</div>
                        <div data-comp-id="text.13" ng-bind="data.idle">0</div>
                        <div data-comp-id="text.14" ng-bind="data.down">0</div>
                        <div data-comp-id="text.15" ng-bind="data.outofcycle">0</div>
                        <div data-comp-id="text.16"></div>
                        <div data-comp-id="text.17">0</div>
                        <div data-comp-id="text.18">0</div>
                        <div data-comp-id="text.19">0</div>
                        <div data-comp-id="text.20">0</div>
                        <div data-comp-id="text.21">0</div>
                        <div data-comp-id="text.22">0</div>
                    </div>
                </div>
            </div>
            <div class="col" data-comp-id="column.4" style="padding: 0px; margin: 1px;">
                <div class="row assertive-bg" data-comp-id="row.3"
                    ng-click="app.action('home', 'action2', this)"
                    style="margin: 1px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.5">
                        <i class="icon ion-ios-bell stable" data-comp-id="icon.1"
                            style="font-size: 50px;"></i>
                        <div data-comp-id="text.23"
                            style="color: rgb(255, 255, 255); font-size: 18px; margin: 5px;">Gauges</div>
                    </div>
                </div>
                <div class="row royal-bg" data-comp-id="row.4"
                    ng-click="app.action('home', 'action3', this)"
                    style="margin: 3px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.6" style="padding: 20px 0px;">
                        <i class="icon  ion-ios-plus" data-comp-id="icon.2"
                            style="font-size: 50px; color: rgb(255, 255, 255);"></i>
                        <div data-comp-id="text.24"
                            style="color: rgb(255, 255, 255); font-size: 18px; margin: 5px;">Top 5</div>
                    </div>
                </div>
                <div class="row royal-bg" data-comp-id="row.5"
                    ng-click="app.action('home', 'action3', this)"
                    style="margin: 3px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.7" style="padding: 20px 0px;">
                        <i class="icon  ion-ios-plus" data-comp-id="icon.3"
                            style="font-size: 50px; color: rgb(255, 255, 255);"></i>
                        <div data-comp-id="text.25"
                            style="color: rgb(255, 255, 255); font-size: 18px; margin: 5px;">OEE Detail</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-comp-id="row.6" style="padding: 0px; margin: 1px 0px;">
            <div class="col" data-comp-id="column.8" style="padding: 0px; margin: 1px;">
                <div class="row positive-bg" data-comp-id="row.7"
                    ng-click="app.action('home', 'action4', this)"
                    style="margin: 1px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.9" style="padding: 10px;">
                        <i class="icon ion-eye" data-comp-id="icon.4"
                            style="font-size: 50px; color: rgb(255, 255, 255);"></i>
                        <div class=" light" data-comp-id="text.26" style="font-size: 16px; margin: 5px;">Working</div>
                    </div>
                </div>
                <div class="row balanced-bg" data-comp-id="row.8"
                    ng-click="app.action('home', 'action5', this)"
                    style="margin: 3px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.10" style="padding: 20px;">
                        <i class="icon light ion-ios-contact" data-comp-id="icon.5"
                            style="font-size: 50px;"></i>
                        <div class=" light" data-comp-id="text.27" style="font-size: 16px; margin: 5px;">No Plan</div>
                    </div>
                </div>
            </div>
            <div class="col" data-comp-id="column.11" style="padding: 0px; margin: 1px;">
                <div class="row positive-bg" data-comp-id="row.9"
                    ng-click="app.action('home', 'action4', this)"
                    style="margin: 1px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.12" style="padding: 10px;">
                        <i class="icon ion-eye" data-comp-id="icon.6"
                            style="font-size: 50px; color: rgb(255, 255, 255);"></i>
                        <div class=" light" data-comp-id="text.28" style="font-size: 16px; margin: 5px;">In Down</div>
                    </div>
                </div>
                <div class="row balanced-bg" data-comp-id="row.10"
                    ng-click="app.action('home', 'action5', this)"
                    style="margin: 3px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.13" style="padding: 20px;">
                        <i class="icon light ion-ios-contact" data-comp-id="icon.7"
                            style="font-size: 50px;"></i>
                        <div class=" light" data-comp-id="text.29" style="font-size: 16px; margin: 5px;">WorkOrder</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>